nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  transition: 0.3s;
  background-color: $color-primary;
  z-index: 100;
  padding: 10px 20px;

  .back {
    display: flex;
    align-items: center;
    color: $color-background;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
    }
    .left-arrow {
      //width: 80px;
    }
  }

  .disable-rotation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-background;
    gap: 10px;
  }

  .sync-position {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-background;
    gap: 10px;
  }
  .current-level {
    background-color: $color-background;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .answers-count {
    background-color: $color-background;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
