.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  height: 100vh;
  width: 100vw;
  position: relative;

  .separation {
    height: 100%;
    width: 5px;
    background: $color-primary-lightest;
  }

  .scene {
    min-width: 300px;
  }
}
