$color-primary: #1d3557;
$color-primary-lighter: #457b9d;
$color-primary-lightest: #a8dadc;

$color-secondary: #e63946;

$color-background: #f1faee;

$green: #2ecc40;
$red: #ff4136;

$white: #fafafa;
