@tailwind base;
@tailwind components;
@tailwind utilities;

//PARAMETERS (colors and stuff)
@import './parameters';

//PAGES
@import './pages/home';
@import './pages/play';

//COMPONENTS
@import './components/buttons';
@import './components/navbar';
@import './components/dropdown';
@import './components/togglebutton';
@import './components/loader';

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color-primary;
  }
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
